/* 
Reset
*/
  :root {
    --max-width: 90rem;
    --max-marge: 6rem;
    --med-marge: 3rem;
    --min-marge: 1.5rem;
    --dark-color: black;
    --med-color: grey;
    --light-color: white;
    --error-color: red;
    --success-color: green;
  }

  * {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  app-home-page, app-form-response {
    display: block;
  }

  html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.5;
  }

  body {
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input:not([type="checkbox"]):not([type="radio"]), label, [type="submit"] {
    display: block;
    width: 100%;
    background: transparent;
  }

  label {
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  input {
    font-size: 2rem;
    padding: var(--min-marge);
    border: none;
    border-bottom: .1rem solid var(--med-color);
    margin-bottom: var(--med-marge);
  }

  button {
    border: none;
    background: transparent;
  }

  [type="submit"] {
    text-transform: uppercase;
    font-weight: 900;
    padding: var(--min-marge);
    border: .1rem solid var(--med-color);

    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
  }

  [type="submit"][disabled] {
    opacity: .5;
  }

  li {
    list-style: none;
  }
/**/


/* 
Common
*/
  .maxWidth {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--med-marge);
    padding-right: var(--med-marge);
  }

  .flexBox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .spaceBetween {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }

/**/

/*
Components
*/

  .c-form {
    padding: 20px;
  }

  .c-form__label {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
  }

  .c-form__checkboxe-container {
    display: flex;
    margin: 20px 0;
  }

  .c-form__label--checkboxe {
    display: inline-block;
    margin-left: 10px;
  }

  .c-form__checkboxe {
    width: auto;
  }

  .c-form__input {
    border-bottom: solid 1px white;
    padding-left: 0;
    color: mediumpurple;
  }

  .c-form__button:not([disabled]) {
    background-color: mediumpurple;
    color: white
  }

  .c-form__button[disabled] {
    border: solid 1px mediumpurple;
    color: mediumpurple;
  }

  .c-form__fieldset {
    border-width: 0;
    margin-bottom: 40px;
  }

  .c-form__legend {
    text-transform: uppercase;
    color: mediumpurple;
    margin-bottom: 20px;
  }

/**/
