<section class="p-homepage">

  <article
    class="p-homepage__article"
  >
    <h2
      (click)="toggleLogin()"
      class="p-homepage__title"
    >Login</h2>

    <div
      *ngIf="isLoginActive"
      class="p-homepage__container-form"
    >

      <app-form-login
        (sendFormData)="connectUser($event)"
        [errorEmailMessage]="errorEmailMessage"
        [errorPasswordMessage]="errorPasswordMessage"
      ></app-form-login>

    </div>

  </article>

  <article
    class="p-homepage__article"
  >
    <h2
      class="p-homepage__title"
      (click)="toggleRegister()"
    >Register</h2>

    <div
      *ngIf="isRegisterActive"
      class="p-homepage__container-form"
    >
      <app-form-register
        (sendFormData)="registerUser($event)"
        [resetFormData]="resetFormDataRegister"
        [errorUserExist]="errorUserExist"
      ></app-form-register>

    </div>

  </article>
</section>
